<div
	ng-controller="dashboardCtrl as vm">
	<div class="col-md-12 menu-border-bottom">
		<h4>Data Report Dashboard</h4>
	</div>
	<div class="col-md-12 menu-border-bottom" >
		<div class="col-md-1 padding-none margin-none">
			<p class="margin-top-10"><b>As of Date: </b></p>
		</div>
		<div class="col-md-2 padding-none margin-none">
			<div class="btn-group margin-5" 
				uib-dropdown is-open="status.isopen"
				style="width:200px;">
			<button 
				id="split-button" 
				type="button"
				class="btn btn-primary"
				style="width:160px;"
				>{{vm.selected}}</button>
		    <button type="button"
		    	class="btn btn-primary" 
		    	uib-dropdown-toggle
		    	style="width:40px;">
		        <span class="caret"></span>
		        <span class="sr-only">Split button!</span>
		      </button>
		      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button" style="width:200px;">
		        <li role="menuitem" 
		        	ng-repeat="family in vm.fundData"><a href="#" ng-click="vm.selectDate(family)">{{family.asOfDate}}</a></li>		        
		      </ul>
		    </div>
		</div>
		<div class="col-md-2 padding-none margin-none margin-top-5">
			<label>Expend All:
			     <button 
			     	class="btn btn-default"
			     	ng-click="vm.expendCollepse()">
			     	<i ng-class="vm.expendCheckbox? ' fa fa-check-square-o' : 'fa fa-square-o'"
                 style="color:#65B8E2;" >
                  </i>
              	</button>
			 </label>
		</div>
		<div class="col-md-7">
			<table style="width:100%;" class="margin-top-10">
				<tr>
					<td><b>Total Number of Missing Fields: </b></td>
					<td class="red-text"><b>Base Currency: {{vm.missingField.currency}}</b></td>
					<td class="red-text"><b>Core Holding ID: {{vm.missingField.coreHoldingID}}</b></td>
					<td class="red-text"><b>POE: {{vm.missingField.poe}}</b></td>
					<td class="red-text"><b>NAV: {{vm.missingField.nav}}</b></td>
					<td class="red-text"><b>ISIN: {{vm.missingField.isin}}</b></td>
				</tr>
			</table>
		</div>
	</div>
	
	<div  class="col-md-12 padding-none margin-none margin-top-5">
		<uib-tabset active="activePill" class="col-md-12" type="pills">
			<uib-tab index="0" heading="View Fields">
				
				<!--<div  class="col-md-12 padding-none margin-none">-->
					<div class="box box-primary col-md-12 padding-none margin-none">
						<div class="fund-list">
							<ul style="width:100%;" class="padding-none margin-none">
								<li class="col-md-12 padding-none margin-none height-35">
						   			<div class="col-md-2 margin-top-5"><b>Fund ID</b></div>
					   				<div class="col-md-2 margin-top-5"><b>Base Currency</b></div>
					   				<div class="col-md-2 margin-top-5"><b>Core Holding ID</b></div>
					   				<div class="col-md-2 margin-top-5"><b>POE</b></div>
					   				<div class="col-md-2 margin-top-5"><b>NAV</b></div>
					   				<div class="col-md-2 margin-top-5"><b>ISIN</b></div>		   				
						   		</li>
						   		<li ng-repeat="fund in vm.selectedFundFamilly.funds" style="" ng-class="(fund.visible)?' col-md-12 padding-none margin-none height-auto':'col-md-12 padding-none margin-none height-35'">
						   			
						   			<div class="col-md-2 margin-top-5 height-30">
						   				<a href="" ng-click="vm.toggleFundTree(fund)"><i ng-class="vm.getSysmbol(fund)" aria-hidden="true"></i> {{fund.Name}}</a>
						   			</div>
					   				<div class="col-md-2 margin-top-5" ng-repeat="field in fund.missing">
					   					<div 
					   						ng-class="(field === '')?'danger-alert': 'success-alert'">&nbsp;{{field}}</div>
					   				</div>


					   				<ul style="width:100%;"
					   					class="padding-none margin-none"
					   					ng-if="fund.children.length > 0 && fund.visible">
					   					<li ng-repeat="shareClass in fund.children" ng-class="(shareClass.visible)?' col-md-12 padding-none margin-none height-auto':'col-md-12 padding-none margin-none height-35'">
						   					<div class="col-md-2 margin-top-5 height-30">
								   				<a href="" ng-click="vm.toggleFundTree(shareClass)"> <i ng-class="vm.getSysmbol(shareClass)" aria-hidden="true"></i> {{shareClass.Name}}</a>
								   			</div>
							   				<div class="col-md-2 margin-top-5">
							   					<div 
							   						ng-class="(shareClass.currency === '')?'danger-alert': 'success-alert'">&nbsp;{{shareClass.currency}}</div>
							   				</div>
							   				<div class="col-md-2 margin-top-5">
							   					<div ng-class="(shareClass.coreHoldingID === '')?'danger-alert': 'success-alert'">&nbsp;{{shareClass.coreHoldingID}}</div>
							   				</div>
							   				<div class="col-md-2 margin-top-5">
							   					<div ng-class="(shareClass.poe === '')?'danger-alert': 'success-alert'">&nbsp;{{shareClass.poe}}</div>
							   				</div>
							   				<div class="col-md-2 margin-top-5">
							   					<div ng-class="(shareClass.nav === '')?'danger-alert': 'success-alert'">&nbsp;{{shareClass.nav}}</div>
							   				</div>
							   				<div class="col-md-2 margin-top-5">
							   					<div ng-class="(shareClass.isin === '')?'danger-alert': 'success-alert'">&nbsp;{{shareClass.isin}}</div>
							   				</div>

							   				<ul style="width:100%;"
							   					class="padding-none margin-none"
							   					ng-if="shareClass.children.length > 0 && shareClass.visible">
							   					<li ng-repeat="childClass in shareClass.children" class="col-md-12 padding-none height-35">
								   					<div class="col-md-2 margin-top-5">
										   				&nbsp;{{childClass.Name}}
										   			</div>
									   				<div class="col-md-2 margin-top-5">
									   					<div ng-class="(childClass.currency === '')?'danger-alert': 'success-alert'">&nbsp;{{childClass.currency}}</div>
									   				</div>
									   				<div class="col-md-2 margin-top-5">
									   					<div ng-class="(childClass.coreHoldingID === '')?'danger-alert': 'success-alert'">&nbsp;{{childClass.coreHoldingID}}</div>
									   				</div>
									   				<div class="col-md-2 margin-top-5">
									   					<div ng-class="(childClass.poe === '')?'danger-alert': 'success-alert'">&nbsp;{{childClass.poe}}</div>
									   				</div>
									   				<div class="col-md-2 margin-top-5">
									   					<div ng-class="(childClass.nav === '')?'danger-alert': 'success-alert'">&nbsp;{{childClass.nav}}</div>
									   				</div>
									   				<div class="col-md-2 margin-top-5">
									   					<div ng-class="(childClass.isin === '')?'danger-alert': 'success-alert'">&nbsp;{{childClass.isin}}</div>
									   				</div>
								   				</li>
							   				</ul>


						   				</li>
					   				</ul>

						   		</li>
							</ul>
						</div>
					</div>
				<!--</div>-->

			</uib-tab>
			<uib-tab index="1" heading="Data Report">
				<!-- Report graph-->
				<!--<div  class="col-md-12">-->
					<div class="box box-primary col-md-12 padding-none margin-none">
						<div  class="col-md-12 menu-border-bottom margin-top-10">
							<div  class="col-md-6">
								<hc-pie-chart title="{{vm.pieDataTitle}}" data="vm.pieData">Placeholder for pie chart</hc-pie-chart>
							</div>

							<div class="col-md-6">
								<div class="col-md-12 padding-none margin-none">
									<div class="col-md-2">&nbsp;</div>
									<div class="col-md-2 padding-none margin-none"><p class="margin-top-10"><b>Select Fund: </b></p></div>
									<div class="col-md-8">
										<div class="btn-group margin-5" 
											uib-dropdown is-open="status.open"
											style="width:200px;">
											<button 
												id="split-button" 
												type="button"
												class="btn btn-primary"
												style="width:160px;"
												>{{vm.selectedFund}}</button>
										    <button type="button"
										    	class="btn btn-primary" 
										    	uib-dropdown-toggle
										    	style="width:40px;">
										        <span class="caret"></span>
										        <span class="sr-only">Split button!</span>
										      </button>
										      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button" style="width:200px;">
										        <li role="menuitem" 
										        	ng-repeat="fundItem in vm.selectedFundFamilly.funds"><a href="#" ng-click="vm.selectFundForGraph(fundItem)">{{fundItem.Name}}</a></li>		        
										      </ul>
									    </div>
									</div>
								</div>

								<div  class="col-md-12">
									<hc-pie-chart title="{{vm.titles[1] + vm.selectedFund}}" data="vm.fundGraphData">Placeholder for pie chart</hc-pie-chart>
								</div>								
							</div>
							
						</div>
						<!-- Selected fund missin graph-->
						<div class="col-md-12 margin-top-10">
							<hc-chart options="vm.chartOptions">Placeholder for generic chart</hc-chart>
						</div>	
			     		
					</div>
				<!--</div>-->
			</uib-tab>
			
		</uib-tabset>
	</div>

	


	
</div>
